target/
log/
*.log
.idea/
*.iml
*.iws
*.ipr
*/*.iml
*/*.iws
*/*.ipr
build-log.xml

*.apk
*.ap_
*.dex
*.class
android/bin/
android/gen/
.classpath
.project
android/proguard/
*.iml
*.ipr
*.iws
.idea/
*/target/

